@-webkit-keyframes blink {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}
  
@keyframes blink {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

@-webkit-keyframes fade-in-top {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    60% {
        -webkit-transform: translate3d(0, 15%, 0);
        transform: translate3d(0, 15%, 0);
    }  
    100% {
        opacity: 1;
    }
}
  
@keyframes fade-in-top {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    60% {
        -webkit-transform: translate3d(0, 15%, 0);
        transform: translate3d(0, 15%, 0);
    } 
    100% {
        opacity: 1;
    }
}
  
.fade-in-top {
    -webkit-animation-name: fade-in-top;
    animation-name: fade-in-top;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@-webkit-keyframes fade-out-top {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}
  
@keyframes fade-out-top {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}
  
.fade-out-top {
    -webkit-animation-name: fade-out-top;
    animation-name: fade-out-top;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@-webkit-keyframes fade-in-left {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-96px, 0, 0);
      transform: translate3d(-96px, 0, 0);
    }
    100% {
        opacity: 1;
    }
}
  
@keyframes fade-in-left {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-96px, 0, 0);
      transform: translate3d(-96px, 0, 0);
    }
    100% {
        opacity: 1;
    }
}
  
.fade-in-left {
    -webkit-animation-name: fade-in-left;
    animation-name: fade-in-left;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fade-out-left {
    from {
      opacity: 1;
    }
    99% {
        -webkit-transform: translate3d(-96px, 0, 0);
        transform: translate3d(-96px, 0, 0);
        opacity: 0;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
  
@keyframes fade-out-left {
    from {
      opacity: 1;
    }
    99% {
        opacity: 0;
        -webkit-transform: translate3d(-96px, 0, 0);
        transform: translate3d(-96px, 0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
  
.fade-out-left {
    -webkit-animation-name: fade-out-left;
    animation-name: fade-out-left;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fade-in-right {
    from {
        opacity: 0;
        -webkit-transform: translate3d(96px, 0%, 0);
        transform: translate3d(96px, 0%, 0);
    }
    100% {
        opacity: 1;
    }
}
  
@keyframes fade-in-right {
    from {
        opacity: 0;
        -webkit-transform: translate3d(96px, 0%, 0);
        transform: translate3d(96px, 0%, 0);
    }
    100% {
        opacity: 1;
    }
}
  
.fade-in-right {
    -webkit-animation-name: fade-in-right;
    animation-name: fade-in-right;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fade-out-right {
    from {
        opacity: 1;
    }
    99% {
        opacity: 0;
        -webkit-transform: translate3d(96px, 0%, 0);
        transform: translate3d(96px, 0%, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 0%, 0);
        transform: translate3d(0, 0%, 0);
    }
}
  
@keyframes fade-out-right {
    from {
        opacity: 1;
    }
    99% {
        opacity: 0;
        -webkit-transform: translate3d(96px, 0%, 0);
        transform: translate3d(96px, 0%, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
  
.fade-out-right {
    -webkit-animation-name: fade-out-right;
    animation-name: fade-out-right;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fade-in-bottom {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 24px, 0);
        transform: translate3d(0, 24px, 0);
    }
    100% {
        opacity: 1;
    }
}
  
@keyframes fade-in-bottom {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 24px, 0);
        transform: translate3d(0, 24px, 0);
    }
    100% {
        opacity: 1;
    }
}
  
.fade-in-bottom {
    -webkit-animation-name: fade-in-bottom;
    animation-name: fade-in-bottom;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@-webkit-keyframes fade-out-bottom {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 24px, 0);
        transform: translate3d(0, 24px, 0);
    }
}
  
@keyframes fade-out-bottom {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 24px, 0);
        transform: translate3d(0, 24px, 0);
    }
}
  
.fade-out-bottom {
    -webkit-animation-name: fade-out-bottom;
    animation-name: fade-out-bottom;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}