html, body {
    height: 100%;
    min-width: 400px;
    background-color: #1b2932;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    color: #fffff0;
    background: -webkit-radial-gradient(circle, rgba(255,255,255,0.1), rgba(0,0,0,0.1)), linear-gradient(135deg, #0f1019, #1b2932);
    background: radial-gradient(circle, rgba(255,255,255,0.1), rgba(0,0,0,0.1)), linear-gradient(135deg, #0f1019, #1b2932);
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

p {
    line-height: 1.5em;
}

a, a:visited {
    color: #58ffc9;
}

.spacer {
    flex-grow: 1;
}

.vert-divider {
    width: 1px;
    background-color: #909090;
    margin: 16px 0;
}

.line-break {
    height: 1px;
    width: 100%;
    margin: auto;
    background-color: #2c4352;
}

.invisible {
    visibility: hidden;
}

.hidden {
    display: none!important;
}

.active {
    z-index: 90;
}

#overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    top: 0;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

header {
    height: 96px;
    width: 100%;
    position: absolute;
    z-index: 100;
    user-select: none;
    background-color: rgba(32, 39, 47, 0.7);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #2c4352;
}

#header-container {
    height: 100%;
    max-width: calc(100% - 96px);
    margin: 0 48px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Source Code Pro', monospace;
    font-weight: 200;
}

#nav-logo {
    margin: auto 24px;
    min-width: 210px;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 200;
    color: inherit;
}

#nav-logo::after {
    content: "";
    margin-bottom: -3px;
    margin-left: 2px;
    width: 16px;
    height: 2px;
    background-color: #fffff0;
    display: inline-block;
    animation: 1s ease-in-out infinite blink;
}

#nav-menu-container {
    margin-left: 24px;
    font-size: 1.25rem;
    display: flex;
}

.button {
    height: 48px;
    line-height: 48px;
    margin: auto 8px;
    padding: 0 16px;
    cursor: pointer;
    text-align: center;
    color: inherit;
    border-radius: 6px;
    transition: background-color 0.3s;
}

.button.active {
    background-color: #2c4352;
    box-shadow: -3px 4px 0 rgba(0,0,0,.3);
    background: -webkit-linear-gradient(135deg, #0028ef78, #54ffff66);
    background: linear-gradient(135deg, #0028ef78, #54ffff66);
}

.button.active:hover {
    background-color: #2c4352;
    box-shadow: -3px 4px 0 rgba(0,0,0,.3);
    background: -webkit-linear-gradient(135deg, #576ee278, #72ffff66);
    background: linear-gradient(135deg, #576ee278, #72ffff66);
    transition: none;
}

.button:hover {
    background-color: #2c4352;
    background: -webkit-linear-gradient(135deg, #0028ef26, #54ffff1f);
    background: linear-gradient(135deg, #0028ef26, #54ffff1f);
    transition: none;
}

.button:active {
    background-color: #162229;
    box-shadow: -4px 3px 0 rgba(0,0,0,.3) inset;
    transition: none;
}

#main-content {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.page {
    height: calc(100% - 112px);
    width: calc(100% - 96px);
    padding: 112px 48px 0 48px;
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#splash-container {
    user-select: none;
    margin: auto;
    padding-bottom: 144px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 200;
}

#splash-content {
    width: 491px;
    height: 8rem;
    font-size: 4rem;
    white-space: nowrap;
}

#splash-typing::after {
    content: "";
    margin-bottom: -3px;
    margin-left: 2px;
    width: 28px;
    height: 4px;
    background-color: #fffff0;
    display: inline-block;
    animation: 1s ease-in-out infinite blink;
}

#splash-menu {
    height: 64px;
    margin-top: 48px;
    display: flex;
    justify-content: center;
    animation: 0.5s ease-out fade-in-bottom;
}

.splash-btn {
    font-size: 1.5rem;
}

.content-container {
    margin: 0 auto;
    max-width: 1080px;
    flex-grow: 1;
}

.round-img {
    height: 200px;
    width: 200px;
    max-width: 1000px;
    margin: 1em 0 0 8px;
    float: right;
    border-radius: 50%;
    display: block;
    box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.35);
    shape-outside: margin-box;
}

.side-note {
    font-size: 0.8em;
    color: #c5c5c5;
    margin-top: 2em;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-card {
    height: 512px;
    width: 330px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    background-color: #2d3640;
    border-radius: 16px;
    box-shadow: -4px 5px 5px 2px rgba(0,0,0,.3);
    animation: 1s ease-in-out fade-in-bottom;
}

.project-header {
    padding: 0.75rem 1rem;
    font-size: 1.5rem;
    z-index: 100;
    box-shadow: 0 3px 4px 0px rgba(0,0,0,.3);
}

.project-card-content {
    flex-grow: 1;
    overflow-y: scroll;
}

.project-media-container {
    height: 256px;
    padding: 8px 16px;
}

.project-img {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0px 6px 8px 4px rgba(0,0,0,.3);
}

.project-img::after {
    cursor: pointer;
    height: 100%;
    width: 100%;
    content: "more pics";
    font-size: 1.25em;
    font-weight: 400;
    line-height: 256px;
    text-align: center;
    display: block;
    border-radius: 8px;
    opacity: 0;
    background-color: rgba(0,0,0,.5);
}

.project-img:hover::after {
    opacity: 1;
    transition: 0.3s;
}

.project-info-container {
    padding: 1rem;
}

#slideshow-container {
    height: 75%;
    width: 90%;
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    background-color: #2d3640;
    border-radius: 16px;
    margin: auto;
    box-shadow: -4px 5px 5px 2px rgba(0,0,0,.3);
    animation: .3s ease-in-out fade-in-bottom;
}

#slideshow-title {
    padding: 0.75rem 1rem;
    font-size: 2rem;
    text-align: center;
    z-index: 100;
    box-shadow: 0 3px 4px 0px rgba(0,0,0,.3);
}

#slideshow-pic-container {
    height: 70%;
    margin: 8px;
    display: flex;
    position: relative;
    border-radius: 16px;
    box-shadow: -2px 3px 5px 2px rgba(0,0,0,.3);
}

#slideshow-pic-overlay {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

#slideshow-page-counter {
    margin: auto auto 0 auto;
    padding: 4px 16px;
    font-size: 0.8;
    user-select: none;
    background-color: rgba(0,0,0,0.5);
    border-radius: 8px 8px 0 0;
}

.slideshow-overlay-btn {
    width: 52px;
    display: flex;
    user-select: none;
    background-color: rgba(0,0,0,0.1);
}

.slideshow-overlay-btn:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.3);
}


.slideshow-overlay-btn:first-child {
    border-radius: 16px 0 0 16px;
}

.slideshow-overlay-btn:last-child {
    border-radius: 0 16px 16px 0;
}

.overlay-btn {
    margin: auto;
    color: rgba(0,0,0,0.3);
    font-size: 4rem;
    font-weight: bold;
}

.slideshow-pic {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    border-radius: 16px;
}

#slideshow-desc {
    padding: 1rem;
}

#contact-container {
    display: flex;
}

.input-label {
    font-size: 1rem;
    line-height: 2rem;
    margin: 0 4px;
}

.input-textbox {
    width: calc(100% - 32px);
    padding: 16px;
    font-size: 1rem;
    font-weight: 400;
    font: inherit;
    color: white;
    background-color: #414652;
    border: none;
    border-radius: 4px;
    box-shadow: -2px 3px 3px 0 rgba(0,0,0,0.3);
}

.input-textbox:focus {
    box-shadow: 0 0 3pt 1pt #36a2ffb5;
    outline: none;
}

.input-textbox::placeholder {
    color: #bfbfbf;
}

.input-textbox:-ms-input-placeholder {
    color: #bfbfbf;
}

textarea.input-textbox {
    resize: vertical;
    min-height: 150px;
}

#contact-send-btn {
    margin: 8px 4px;
    padding: 0 32px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 200;
    font-size: 1.25rem;
    border: none;
    box-shadow: -3px 4px 0 rgba(0,0,0,.3);
    background: linear-gradient(135deg, #0028ef78, #54ffff66);
}

#contact-send-btn:hover {
    background-color: #2c4352;
    box-shadow: -3px 4px 0 rgba(0,0,0,.3);
    background: -webkit-linear-gradient(135deg, #576ee278, #72ffff66);
    background: linear-gradient(135deg, #576ee278, #72ffff66);
    transition: none;
}

#contact-info-container {
    height: inherit;
    width: inherit;
    min-width: 300px;
    margin: 32px 8px auto 24px;
    box-shadow: -2px 3px 3px 0 rgba(0,0,0,0.3);
}

#contact-info-container > span {
    text-align: center;
}

#contact-info-content {
    padding: 16px;
}

#contact-info-content > img {
    height: 150px;
    width: 150px;
    margin: auto;
    float: none;
}

.contact-info-entry {
    margin: 16px 0;
    display: flex;
}

.contact-info-entry > a{
    margin-left: auto;
}

.project-footer {
    font-size: 0.8em;
    color: #c5c5c5;
    padding: 8px;
}

.footer {
    margin: 0 -48px;
}

.footer-content {
    font-weight: 200;
    font-size: 0.8rem;
    padding: 16px;
    text-align: right;
}